.left {
  width: 49%;
  float: left;
  height: 100%;
  border-right: 2px solid tomato;
}

.right {
  width: 49%;
  float: right;
  height: 100%;
}

.editor {
  margin:2px 0 0 0;
  height: 100%;
}

.toolbar {
  background-color: tomato;
  height: 30px;
}

.area {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vw;
  overflow: auto;
}

.show {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vw;
  overflow: auto;
}